<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/abc/css/main.css" type="text/css" rel="stylesheet"/>
    <script src="/mycss/index.js" type="text/javascript"></script>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/product/add" method="post">
        <p>title <input name="title" /></p>
        <p>price <input name="price" /></p>
        <button>Save</button>
    </form>
</body>
</html>