<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qijun Zheng Web Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: navy;
        }

        .highlight {
            background-color: yellow;
        }
    </style>
</head>
<body><body>
<p>First</p>
<input type=”text” value=”” placeholder=”2222” />111
<input type=”checkbox” value=”tomato” />Tomato
<input type=”radio” name=”cc” value=”master” />Master
<input type=”radio” name=”cc” value=”visa” />Visa
<input type=”radio” name=”cc” value=”amex” />Express
<textarea>ddddd</textarea>
<select>
    <option value=”1”>text</option>
</select>
</body></body>
</html>
